.body{
    background-color: rgb(255, 255, 255);
}

.all{
    display: flex;
}

.error{
    padding-left: 220px;
    padding-top: 180px;
    font-family: sans-serif;
    font-size: 6em;
    margin: 0;
    
    color: rgb(99, 208, 163);
}

.found{
    padding-left: 220px;
    padding-top: 0px;
    margin-top: 0px;
    font-family: sans-serif;
    font-size: 2em;
    color: rgb(99, 208, 163);
    margin-bottom: 20px;
}
.looking{
    font-family: sans-serif;
    font-size: 1em;
    color: rgb(134, 138, 137);
    padding-left: 220px;
    padding-top: 0px;
}

.planet{
    margin-top: 20px;
    margin-left: 120px;
    width: 520px;
}